backend/
backend/**
web/
web/**
scratch/
scratch/**
.git/
.git/**
.idea/
.idea/**
node_modules/
node_modules/**
.expo/
.expo/**
dist/
dist/**
dist-*/
dist-*/**
npm-debug.log*
yarn-error.log*
*.apk
*.aab
android/.gradle/
android/.gradle/**
android/app/build/
android/app/build/**
android/app/.cxx/
android/app/.cxx/**
android/build/
android/build/**
